@charset "UTF-8";
/* CSS Document */

body {
	margin:0px;
}
a{
	font-family:Arial, "Helvetica", sans-serif;
}
#HeaderDiv {
	margin:0px;
	/*background-color:#333;*/
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	padding-top:10px;
    background:url("../images/header_bg.jpg") repeat-x scroll 0 0 #333;
}
#logoDiv {
	width:170px;
	text-align:left;
	float:left;
}
#menuDiv {
	background-color:#4D4D4D;
	border-bottom:1px;
	border-color:#000;
	padding-left:15px;
	padding-right:15px;
	border-bottom:1px solid #333;
	
}
#shadowDiv{
	height:8px;
	background-image:url(../images/shadow.png);
	background-repeat:repeat-x;
	background-color:#f2f2f2;
}
#subMenu {
	background-color:#f2f2f2;
	border-bottom:1px;
	border-color:#000;
	padding-left:15px;
	padding-right:15px;
	border-bottom:1px solid #999;
}
.clr{
	clear:both;
}
#menuDiv ul{
	margin:0px;
	padding:0px;
}
#menuDiv li{
	list-style:none;
	float:left;
	padding:7px 10px;
}
#menuDiv li a{
	color:#E6E6E6;
	text-decoration:none;
}

#subMenu ul{
	margin:0px;
	padding:0px;
}
#subMenu ul li{
	float:left;
	list-style:none;
	padding:6px 10px;
}
#menuDiv ul li:hover{
	background-color:#C24140;
}
#menuDiv ul li:hover a{
	color:#fff;
}
#subMenu ul li a{
	color:#666;
	text-decoration:none;
	font-size:12px;
}
#subMenu ul li a.sub_selected{
	font-weight:bold;text-decoration:underline;
}
#top-links{
	float:right;
	color:#E6E6E6;
	margin-top:10px;
}
#top-links a{
	color:#E6E6E6;
	text-decoration:none;
	font-size:13px;
}
#top-links a.active{
	color:#C24140;
}
#leftMenu{
	margin-top:40px;
	border:1px solid #666;
	width:30px;
	float:left;
	text-align:center;
	padding:5px;
	border-radius: 5px;
	margin-left:10px;
	background-color:#F2F2F2;
}
#leftMenu ul{
	margin:0px;
	padding:0px;
}
#leftMenu li{
	list-style:none;
	padding:7px 0px;
}
.heading {
    color: #c2414d;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
}
.search_col
{
	font-family:Arial, Helvetica, sans-serif;
	color: #666666;
    font-size: 12px;
	font-weight:bold;

}
.textfield
{
	width:180px;
	background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #8C9B8C;
    border-radius: 5px;
    box-shadow: 0 1px rgba(255, 255, 255, 0.4), 0 1px 4px #BDBDBD inset;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333333;
}
.src_textfield
{
width:120px;
-moz-border-radius: 4px 4px 4px 4px;
border: 1px solid #cccccc;
font-family:verdana;
font-size:11px;
color:#333333;
}
.bottom_link
{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
    background-color: #4D4D4D;
    /*background:url("../images/gradient3.gif") repeat scroll 0 0 black;*/
    border-bottom: 1px solid #333333;
    border-color: #000000 #000000 #333333;

}
text-align:center;
}
.bottom_end_link
{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
color:#333333;
}
.bottom_end_link a
{
text-decoration:none;
color:#333333;
}
.main_text {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    background-color: #FFFFFF;     
    background-image: url("../images/more.gif");     
    background-position: left top;     
    background-repeat: repeat-x;
}

.main_text:hover {
    background: #dadada;
}

.main_text td{
    height:30px;
}

.green-text{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
color:#329506;
text-decoration:none;
font-weight:bold;
}
.red-text{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#FF0000;
font-size:11px;
font-weight:bold;
}

.success {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('../images/success.png');
text-align: left;
}
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('../images/info.png');
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('../images/warning.png');
text-align: left;
}
.error {
color:#D8000C;
background-color: #FFBABA;
background-image: url('../images/error.png');
text-align: left;
}
.fave_css {
color:#00529B;
background-color: #BDE5F8;
background-image: url('../images/heart_32.png');
text-align: left;
}
.favet_css {
color:#00529B;
background-color: #BDE5F8;
background-image: url('../images/info.png');
text-align: left;}
.info, .success, .warning, .error, .fave_css, .favet_css, .validation {
background-position: 10px center;
background-repeat: no-repeat;
border: 1px solid;
font-family: Arial,Helvetica,sans-serif;
font-size: 13px;
margin: 10px 0;
padding: 5px 10px 5px 50px;}

.menu {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	width:100%;
	height:32px;
	position:relative;
	font-size:12px;
	/*background:#4D4D4D;*/
	margin: 0;
	z-index:1000;
    background:url("../images/header_bg.jpg") repeat-x scroll 0 0 #333333;
}
.menu ul li a {
	display:block;
	text-decoration:none;
	color:#ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	width:83px;
	height:32px; 
	text-align:center;
	border-bottom: 0;
	background-image:url(../images/top_link_bg_black.png);
	background-repeat:repeat-x;
	line-height:32px; 
	font-size:11px;
	overflow:hidden;
	padding-left: 1px;
}
/* End Caps Styling */
.menu .left_nosub {
	background-image:url(../images/black/left.png);
	padding-left: 1px;
	margin-right: -1px;
}
.menu .right_hassub {
	background-image:url(../images/black/right.png);
}
.menu .right_nosub {
	background-image:url(../images/black/right.png);
}
.menu ul {padding:0; margin:0; list-style: none;}
.menu ul li {float:left; position:relative;}
.menu ul li ul {display: none;}

/* Button ":hover" Styling */
.menu ul li:hover{color:#FFFFFF; background:#C24140; }
.menu ul li:hover a {color:#FFFFFF; background:url(../images/black/nav-bg.gif); background-repeat:repeat-x;}
.menu ul li:hover ul {display:block; position:absolute; top:32px; left:0; width:152px; margin: 0; padding: 0;}
.menu ul li:hover ul li a.center_hassub {background:#4D4D4D; color:#fff;}
.menu ul li:hover ul li:hover a.center_hassub {background:#4D4D4D; color:#fff;}
.menu ul li:hover ul li ul {display: none;}

.menu ul li:hover .left_nosub {color:#381B01; background:url(../images/black/left_nosub.png);}
.menu ul li:hover .right_hassub {color:#381B01; background:url(../images/black/right_hassub.png);}
.menu ul li:hover .right_nosub {color:#381B01; background:url(../images/black/right_nosub.png);}

/* DropDown Styling */
.menu ul li:hover ul li a {background-image: #4D4D4D; color:#FFFFFF; display:block;height: 28px; line-height: 26px; width:142px; text-align:left; margin: 0; padding:0 0 0 11px;font-weight:normal;}
.menu ul li:hover ul {
	margin: 0 0 0 0px;
	padding: 0;
	color:#FFFFFF;
	background:#4D4D4D;
	background-repeat:no-repeat;
	background-position:bottom left; 
}

/* DropDown Menus ":active" or "Selected" Styling */
.menu ul li:hover ul .sub_active {
	background-image:url(../images/black/sub_active.png);
	margin-right: 1px;
}

/* DropDown Menus ":hover" Styling */
.menu ul li:hover ul li a:hover {color:#ffffff !important; background-image:url(../images/black/sub_active.png);}

.menu ul li:hover ul li:hover ul {display:block; position:absolute; left:105px; top:0;}
.menu ul li:hover ul li:hover ul.left {left:-105px;}

.wrap{
position:relative;
top:20px;
left:20px;
float:left;
width:500px;
height:210px;
background:#3A1C01 url('images/presentation/caramel-cream.png') no-repeat center 120px;
border:3px solid #f0f0f0;
padding:0;
padding-left:10px;
}

.menu .nav-middle{
	background-image:url(../images/black/nav-mid.gif);
	background-repeat:no-repeat;
	width:1px;
	height:40px;
}
.menu-selected{color:#FFFFFF; background:#C24140; }
.cont-rightbar{
	margin:0px 0px 0px 20px;
	padding:0px;
	float:left;
	width:210px;}
.right-list-bg {
    background-image: url(../images/rightbar-mid.png);
    background-repeat: repeat-y;
	float:left;
}
.list-heading {
    color: #CCCCCC;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 22px;
    padding-bottom: 5px;
    padding-left: 10px;
	float:left;
    text-decoration: none;
	width:200px;
}
a.left-navigation {
    color: #F1F1F1;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
	line-height:25px;
    text-decoration: none;
}
.list-arrow{
	margin:0px;
	width:34px;
	height:27px;
	float:left;}
.right-menu{
	margin:0px 0px 0px 10px;
	width:200px;
	float:left;}
.right-bar-line{
	border-top:1px solid #fff;
	float:left;
	height:2px;
	width:200px;}

.body-tab{
	width:auto;
	position: relative;
	padding: 5px 0 3px 0px;
	margin: 0 auto 0 auto;
	border-bottom:1px solid #cccccc;
	/*tab background image path*/
	height: 25px;
	list-style: none;
}

.body-tab li{
	float:left;
	list-style:none;
	margin:0 3px 0 10px;
}

.body-tab li a{
	float: left;
	display: block;
	color:#C2414D;

	text-decoration: none;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	padding:0 0 0 8px; /*Padding to accomodate left tab image. Do not change*/
	height: 29px;
	background:url(../images/tabingleft.png) no-repeat;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
}

.body-tab li a b{
	float: left;
	display: block;
	background: url(../images/tabing.png) no-repeat right top;
	padding: 0 15px 1px 8px; /*Padding of menu items*/
}

.body-tab li.current a, .body-tab li a:hover{
	color: #616161;
	background:url(../images/tabingleft-hover.png) no-repeat; /*left tab image path*/
	background-position: left;
}

.body-tab li.current a b, .body-tab li a:hover b{
	color: #616161;
	background:url(../images/tabingright-hover.png) no-repeat right top; /*right tab image path*/
}

.required{
    color:red;
}

.tbl_main_head{
    background:#dadada; color:#444; font-weight:bold; font-size:25px;
}

.right{float:right;}
.left{float:left;}
.hide{display:none;}

.main_head_btns{
    font-size:12px;margin-top:5px; margin-right:10px;
}

/******************** PAGINATION ***********************/
/* pagination wykop.pl */
#paginationWKTOP{
font: 80%/1.4 Tahoma, arial, helvetica, sans-serif;
float:right;
margin-bottom: 10px;
margin-top: 20px;
}
#paginationWKTOP a {
  color: #FF5917;
  text-decoration: none;
}
#paginationWKTOP a:hover, #paginationWKTOP a:focus  {
  color: #31627e;
}


#paginationWKTOP li {
  display: inline;
}

#paginationWKTOP span {
  text-decoration: none;
}

#paginationWKTOP a, #paginationWKTOP span {
  display: block;
  min-height: 18px; line-height: 18px;
  vertical-align: middle;
  float: left;
  text-align: center;
  border: 1px solid #79A3BA;
  margin-right: 5px;
  padding: 0 5px;
  background: url(../images/w_pagination_bg.gif) repeat-x 0 -160px;
}

span.prev-site a, span.next-site a{
  width: 73px;
}

#paginationWKTOP a:hover, #pagination a:active, #pagination a:focus
{
background: url(../images/w_pagination_bg.gif) repeat-x 0 -200px; text-decoration: none;
}

#paginationWKTOP span.prev-site a, #paginationWKTOP span.next-site a,
#paginationWKTOP span.prev-site, #paginationWKTOP span.next-site
{ width: 85px; height: 20px; padding: 0; border: none;
	background: url(../images/w_pagination_bg.gif) 0 0 no-repeat;
}

#paginationWKTOP span.prev-site.disabled
{ 
	background: url(../images/w_pagination_bg.gif) 0 -240px no-repeat; color: #BBB;
}

#paginationWKTOP span.next-site.disabled
{ 
	background: url(../images/w_pagination_bg.gif) 0 -280px no-repeat;  color: #BBB;
}


#paginationWKTOP span.prev-site a:hover, #paginationWKTOP span.prev-site a:active, #paginationWKTOP span.prev-site a:focus 
{background: url(../images/w_pagination_bg.gif) 0 -40px no-repeat; text-decoration: none;}
#paginationWKTOP span.next-site a:hover, #paginationWKTOP span.next-site a:active, #paginationWKTOP span.next-site a:focus 
{background: url(../images/w_pagination_bg.gif) 0 -120px no-repeat; text-decoration: none;}

#paginationWKTOP span.break, #paginationWKTOP span.current {
	border: 1px solid #BBB; color: #BBB;
	background: url(../images/w_pagination_bg.gif) 0 -200px no-repeat;
}

/****************NEW STYLE BUTTONS AND DIVS******************/
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 11px Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.blue {
    background:#0078A5;
    background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
    border: 1px solid #0076A3;
    color: #D9EEF7;
}

.orange {
	color: #fae7e9;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.orange:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}

.original_orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.original_orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}

.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}

#filter_table{
    text-align:left;
}
#filter_table input[type=text], select  {
    width:90%;
    background:#efefef; 
    border:1px solid #DADADA;
    font:11px Arial,Helvetica,sans-serif;
}

.dragging{
    background:#444;
    color:#ffffff;
}